page-login {
   .bkground{
     background: -webkit-gradient(top, color($colors,bkGradienttop), color($colors,bkGradientbottom));
     background: -o-linear-gradient(bottom, color($colors,bkGradienttop), color($colors,bkGradientbottom));
     background: -moz-linear-gradient(bottom, color($colors,bkGradienttop), color($colors,bkGradientbottom));
     background: linear-gradient(to bottom, color($colors,bkGradienttop), color($colors,bkGradientbottom));

  }

  
  .logo-containter{
    width: 100%;
  }
  
  .logo{
    width: 50%;
    display: block;
    margin: 20% auto;
  }

  .center{
    padding-top: 50%;
  }

  .center ion-col{
    margin: 0 auto;
  }

  .center ion-title, .center p{
    text-align: center;
    font-size: 2rem;
    color: color($colors, darktext);
  }


  .loginInput{
    border-radius: 4px;
    background-color: rgba(256, 256, 256, 0.7);
    margin: 18px auto;
  }

    .loginInput .item-inner{
      border-bottom: none !important;
      color: color($colors, darktext);
    }

  .loginButton{
    background-color: #fff;
    color: #fff;
    padding: 25px 0 25px 0;
    color: color($colors, darktext);
    border-radius: 4px;

  }

  .forgotLink{
    color: #fff;
  }

  .signupButton{
    color: #fff;
    margin: 6% auto;
  }






}
