<ion-header no-border>
  <ion-navbar>
    <ion-title>Activity </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event, true)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to Sync"
    >
    </ion-refresher-content>
  </ion-refresher>
  <sync-error *ngIf="syncErr" (click)="dismissSyncErr()"></sync-error>
  <div class="activity-background">
    <div class="area1">
      <round-progress
        id="round-progress"
        [current]="userStats.activityData.caloriesOut"
        [max]="userStats.userStatsContainer.goalCaloriesOut"
        [color]="'rgba(250, 250, 250, 1)'"
        [background]="'rgba(104, 226, 162, 0.5)'"
        [radius]="100"
        [stroke]="10"
        [semicircle]="false"
        [responsive]="false"
        [duration]="1000"
        [animation]="'easeInOutQuart'"
        [animationDelay]="0"
        [stroke]="4"
      ></round-progress>

      <div class="progress-text">
        <img class="burn-icon" src="assets/imgs/burn.png" />
        <h2>
          {{ userStats.activityData.caloriesOut || 0}}
        </h2>
        <h5>Calories</h5>
      </div>
    </div>

    <div class="area2">
      <ul>
        <li>
          <h1>
            <span class="label">Steps</span>
            <span class="value">{{userStats.activityData.steps}}</span>
          </h1>
        </li>
        <li>
          <h1>
            <span class="label">Very Active Minutes</span>
            <span class="value"
              >{{userStats.activityData.veryActiveMinutes}}</span
            >
          </h1>
        </li>
        <li>
          <h1>
            <span class="label">Fairly Active Minutes</span>
            <span class="value"
              >{{userStats.activityData.fairlyActiveMinutes}}</span
            >
          </h1>
        </li>
        <li>
          <h1>
            <span class="label">Lightly Active Minutes</span>
            <span class="value"
              >{{userStats.activityData.lightlyActiveMinutes}}</span
            >
          </h1>
        </li>
        <li>
          <h1>
            <span class="label">Sedentary Minutes</span>
            <span class="value"
              >{{userStats.activityData.sedentaryMinutes}}</span
            >
          </h1>
        </li>
      </ul>
    </div>
    <button
      *ngIf="!fitbitAuthStatus()"
      ion-button
      block
      class="fitbitAuthBtn"
      (click)="fitbitAuth()"
    >
      fitbit auth
    </button>
  </div>
</ion-content>
