page-activity {
  ion-content {
    background: linear-gradient(
      60deg,
      rgb(16, 150, 79) 0%,
      rgb(104, 226, 162) 100%
    );
  }

  .activity-background {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .area1 {
      padding: 0;
      color: #fff;
      max-height: 300px;

      .title {
        h2 {
          font-size: 30px;
          max-width: 100px;
          font-weight: 300;
        }
      }
      .subtitle {
        font-size: 4vw;
      }

      round-progress {
        margin: auto;
      }
      .burn-icon {
        display: block;
        margin: 3vh auto -1vh auto;
        width: 10%;
      }
      .progress-text {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;

        h2 {
          font-size: 50px;
          font-weight: 300;
        }
        h5 {
          margin-top: -3%;
          font-weight: 300;
        }
      }
    }

    .area2 {
      // margin-top: 40px;
      padding: 0 5%;

      color: white;
      ul {
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          margin: 5vh 0;
          border-bottom: 2px rgba($color: #fff, $alpha: 0.1) solid;

          h1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 16px;
            .value {
              font-size: 24px;
            }
          }
        }
      }
      .item {
        width: 100% !important;
        background-color: transparent;
      }
    }
  }
  .fitbitAuthBtn {
    color: white;
    background-color: #ce4545;
    padding: 25px 0;
  }
}
