page-activity {
    ion-content{
        background: linear-gradient( 60deg,rgb(16, 150, 79) 0%,rgb(104, 226, 162) 100%);
    }

    .fitbitAuthBtn{
        color: white;
        background-color: #ce4545;
        padding: 25px 0;
    }
}
