<!--
  Generated template for the FoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      Food
    </ion-title>
  </ion-navbar>
  <div class="time-travel"  [style.color]="this.dateColor">
    <ion-icon (click)="changeDay('past')" name="ios-arrow-back"></ion-icon>
    <span>{{this.userStats.todaysDate}}</span>
    <ion-icon (click)="changeDay('future')" name="ios-arrow-forward"></ion-icon>
  </div>
</ion-header>


<ion-content>
  


  <!-- -=============Breakfast============= -->
  <ion-card class="breakfast-card addfood-card">
    <ion-card-header>
      Breakfast
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let food of displayMeals('Breakfast')">
        <div (click)="reopenFoodModal(food)">
          <h3>{{foodServ.strToLower(food.name)}}</h3>
          <p>{{foodServ.strToLower(food.manu)}}</p>
          <span class="importVals">
            {{food.calories | number:'1.0-0'}}<br><small>Kcal</small>
          </span>
          <span class="importVals"  [style.color]="food.sodium.color || 'black'">
            {{food.sodium.value | number:'1.0-0' || 0}}<br><small [style.color]="'black'">Sodium ({{food.sodium.unit || "mg"}})</small>
          </span>
        </div>
        <ion-icon class="col-1" name="close" item-right (click)="delRecord(food, 'Breakfast')"></ion-icon>
      </ion-item>

      <button ion-button clear full icon-start (click)="launchAddFoodSubPage('Breakfast')">
        <ion-icon name="add"></ion-icon>
        Add Food
      </button>
    </ion-card-content>
  </ion-card>






  <!-- -=============Lunch============= -->
  <ion-card class="lunch-card addfood-card">
    <ion-card-header>
      Lunch
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let food of displayMeals('lunch')">
        <div (click)="reopenFoodModal(food)">
          <h3>{{foodServ.strToLower(food.name)}}</h3>
          <p>{{foodServ.strToLower(food.manu)}}</p>
          <span class="importVals">
            {{food.calories | number:'1.0-0'}}
            <br>
            <small>Kcal</small>
          </span>
          <span class="importVals" [style.color]="food.sodium.color || 'black'">
            {{food.sodium.value | number:'1.0-0' || 0}}
            <br>
            <small [style.color]="'black'">Sodium ({{food.sodium.unit || "mg"}})</small>
          </span>
        </div>
        <ion-icon class="col-1" name="close" item-right (click)="delRecord(food, 'lunch')"></ion-icon>
      </ion-item>
  
      <button ion-button clear full icon-start (click)="launchAddFoodSubPage('lunch')">
        <ion-icon name="add"></ion-icon>
        Add Food
      </button>
    </ion-card-content>
  </ion-card>



  <!-- -=============Dinner============= -->
  <ion-card class="dinner-card addfood-card">
    <ion-card-header>
      Dinner
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let food of displayMeals('dinner')">
        <div (click)="reopenFoodModal(food)">
          <h3>{{foodServ.strToLower(food.name)}}</h3>
          <p>{{foodServ.strToLower(food.manu)}}</p>
          <span class="importVals">
            {{food.calories | number:'1.0-0'}}
            <br>
            <small>Kcal</small>
          </span>
          <span class="importVals" [style.color]="food.sodium.color || 'black'">
            {{food.sodium.value | number:'1.0-0' || 0}}
            <br>
            <small [style.color]="'black'">Sodium ({{food.sodium.unit || "mg"}})</small>
          </span>
        </div>
        <ion-icon class="col-1" name="close" item-right (click)="delRecord(food, 'dinner')"></ion-icon>
      </ion-item>
  
      <button ion-button clear full icon-start (click)="launchAddFoodSubPage('dinner')">
        <ion-icon name="add"></ion-icon>
        Add Food
      </button>
    </ion-card-content>
  </ion-card>



  <!-- -=============Snacks============= -->
  <ion-card class="snacks-card addfood-card">
    <ion-card-header>
      Snacks
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let food of displayMeals('snacks')">
        <div (click)="reopenFoodModal(food)">
          <h3>{{foodServ.strToLower(food.name)}}</h3>
          <p>{{foodServ.strToLower(food.manu)}}</p>
          <span class="importVals">
            {{food.calories | number:'1.0-0'}}
            <br>
            <small>Kcal</small>
          </span>
          <span class="importVals" [style.color]="food.sodium.color || 'black'">
            {{food.sodium.value | number:'1.0-0' || 0}}
            <br>
            <small [style.color]="'black'">Sodium ({{food.sodium.unit || "mg"}})</small>
          </span>
        </div>
        <ion-icon class="col-1" name="close" item-right (click)="delRecord(food, 'snacks')"></ion-icon>
      </ion-item>
  
      <button ion-button clear full icon-start (click)="launchAddFoodSubPage('snacks')">
        <ion-icon name="add"></ion-icon>
        Add Food
      </button>
    </ion-card-content>
  </ion-card>
 

</ion-content>
