page-addfood {

    ion-header{
        background-color: color($colors, food);
        

        .toolbar-background{
            background-color: color($colors, food) !important;
            
        }

        .toolbar-title{
            color: white;
        }

        
    }

    ion-content{
        margin-top: 50px;
    }
    .time-travel{
        background-color: #555;
        // color: white;
        padding: 2%;
        text-align: center;
        position: fixed;
        z-index: 999;
        width: 100%;

        span{
            margin: 0 auto;
            font-size: 20px;
        }

        ion-icon{
            padding: 0 12%;
            font-size: 24px;
        }
    }


    ion-card-header{
        background-color: color($colors, food);
        color: white !important;
    }
    
    ion-card-content{
        ion-item {
            * {
                text-transform: capitalize;
            }

            ion-label{
                margin: 8px 2px !important;

            }

            .calories{
                position: relative;
                left: 10px;
            }

            ion-icon{
                position: relative;
                left: 10px;
                color:red;
            }
            background-color: #eee !important;
            margin-top: 10px !important;
            padding: 0px initial !important;
            border: solid 2px red;
        
        }
        button{
            padding:20px 0 !important;
            color: #555 !important;

        }
    }

    .addfood-card{

        
    }

}
