page-home {
    .home-page {

        ion-card {
            position: relative;
            min-height: 200px;
            margin: 20px auto;
            border-radius: 10px;
        }

        

        .card-title {
            
            font-size: 1.5em;
            color: #fff;
            margin: 4%;
        }

        // .card-subtitle {
        //     font-size: 1.0em;
        //     color: #fff;
        // }

        
        ion-card ion-img {
            contain: none;
            min-height: 100px;
        }
        
        .card1{
                //background-image: url("../../assets/imgs/bp.png");
                background: tomato;
                background-size: 120%;
                border-radius: 10px;
    
            }
        
        .card2{
            background: slateblue;

                .card-content round-progress{
                    position: absolute;
                    top: 10%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 25%;
                }

                .card-content .progress-text{
                    position: absolute;
                    top: 37%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    text-align: center;
                }

                .card-content .progress-text h2{
                    font-size: 25px;
                    font-weight: 300;
                    color:rgb(234, 234, 234);
                }

                .card-content .progress-text hr{
                    width: 15%;
                    margin: 0 auto;
                    height: 3px;
                }

        }

        .card3{
            background: steelblue;
        }

        .card4{
            background-color: teal;
        }
    }
}
