page-home {
    .home-page {

        //background-color: color($colors, bkGradientbottom);
        background-color: #555;

        ion-card {
            position: relative;
            min-height: 250px;
            // width: 100%;
            // margin: 0;
            border-radius: 4%;
            margin-top: 5%;
            
        }

        .card-img{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .chevron{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 40px;
            font-weight: lighter;
            opacity: 0.5;
            color: #fff;
            padding: 2%;
        }

        

        .card-title {
            
            font-size: 1.4em;
            color: #fff;
            margin: 0 0 1% 0%;
            padding: 3%;
        }

        .card-subtitle {
            font-size: 1.2em;
            color: #fff;
            margin: 0 %4 %4 4%
        }
        
  
        .card1{
            //  background: steelblue;
            color: #fff;
            background-color: rgba(0,128,128,0.9);
            

            .card-subtitle{
                margin-bottom: 0;
            }
            .card-content{
                padding: 20% 10% 10% 10%;

                .left{
                    width: 50%;


                    img{
                        border-radius: 50%;
                        width: 50%;
                        margin: 0 auto;
                    }

                    h4{
                        color: #fff;
                        margin: 5% 0 0 0;
                        font-size: 100%;
                        text-align: center;
                    }
                }

                .recommendation{
                    background-color: rgba(255,255,255,0.6);
                    border-radius: 4px;
                    margin: 10px 0;
                }
            
                h3{
                    color: steelblue;
                    font-size: 130%;
                }

                p{  
                    color: white;
                    margin-top: 20px;
                    font-size: 8px;
                }
            }
            
        }
        
        .card2{
            // background-color: color($colors, bloodpressure);
                background-color: rgba(255, 99, 71, 0.9);

            .bp-chart {
                color: #fff !important;
                margin: 4% auto;
            }

            .bp-readings{
                margin: 10% 5% 5%;
                text-align: center;
                
                .previous{
                    margin-top: 4vh;

                    h3{
                        font-size: 5vw;
                        font-weight: 600;
                        color: white
                    }
                    .label{
                        font-size: 4vw;
                        font-weight: 500;
                    }
                }

                .predicted{
                    margin-top: 4vh;

                    h3{
                        font-size: 5vw;
                        font-weight: 500;
                        color: white
                    }
                    .label{
                        font-size: 4vw;
                        font-weight: 400;
                    }
                }


                .current{
                    border: solid 2px white;
                    border-radius: 50%;
                    margin:0 auto;
                    width: 30vw;
                    height: 30vw;

                    .systolic {
                        font-size: 8vw;
                        color: white; 
                        margin: 10% 10% 0 10%;                  
                    }
                    .diastolic {
                        font-size: 8vw;
                        color: white;                   
                    }
                    .label{
                        color: white;
                    }
                }
                


            }

            

        }
        
        .card3{
            //   background-color: color($colors, food);
            background-color: rgba(106,90,205,0.9);
            .card-content{
                .prog-container{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    .progress-text{
                        position: absolute;
                        left: 50;
                        right: -50;
                        // text-align: center;
                    }

                    .progress-text h2{
                        font-size: 30px;
                        font-weight: 300;
                        color:rgb(234, 234, 234);
                        text-align: center;

                    }

                    .progress-text hr{
                        width: 90%;
                        max-width: 100px;
                        margin: 0 auto;
                        height: 2px;
                        background-color:#888;

                    }
                }

                .meta-container{
                    // display: block;
                    margin: 30px 20% ;

                    h3{
                        font-size: 18px;
                        font-weight: 400;
                        text-align: center;
                        color:rgb(234, 234, 234);
                    }
                }
            }

        }

        

        .card4{
            background-color: rgba(70,130,180,0.8);
            .card-content{
                display: flex;
                justify-content: center;
                .chart-key{
                    width:48%;
                    // float: left;

                    ul{
                        list-style: none;
                        width:100%;
                        li{
                            color: #fff;
                            margin: 0% 0 15% 0%;
                            font-size: larger;
                            text-align: center;
                            border-radius: 14px;
                            padding: 3% 0;
                            
                        }

                        li:first-of-type{
                            background:#af5ac9;
                        }
                        li:nth-of-type(2){
                            background: #6e59c9;
                        }
                        li:nth-of-type(3){
                            background:#55ade0;
                        }
                    }

                    

                }
                
                .chart-container{
                    width: 50%;
                    height: 160px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .chart-total{
                        position: absolute;
                        left: 50;
                        right: -50;
                        text-align: center;
                        color: #fff;
                        font-size: 20px;

                    }
                 
                }
                
            }
        }
    }
}
