page-home {
    .home-page {

        ion-card {
            position: relative;
            min-height: 200px;
            margin: 20px auto;
            border-radius: 10px;
        }

        

        .card-title {
            
            font-size: 1.7em;
            color: #fff;
            margin: 4% 4% 1% 4%;
        }

        .card-subtitle {
            font-size: 1.2em;
            color: #fff;
            margin: 0 %4 %4 4%
        }

        
        ion-card ion-img {
            contain: none;
            min-height: 100px;
        }
        
        .card1{
            //background-image: url("../../assets/imgs/bp.png");
            background: tomato;
            background-size: 120%;
            border-radius: 10px;

            .bp-chart {
                color: #fff !important;
                margin: 4% auto;
            }

            .bp-readings{
                margin: 10% 5% 5%;
                text-align: center;

                .previous h3, .predicted h3{
                    font-size: 16px;
                    font-weight: 600;                    
                    color: #ccc;
                    
                   
                }

                .previous .label, .predicted .label{
                        font-size: 14px;
                        font-weight: 400;
                    }

                .current{
                    border: solid 2px white;
                    border-radius: 50%;
                    margin:0 auto;
                    width: 150px;
                    height: 150px;

                    .systolic {
                        font-size: 2.5em;
                        color: white; 
                        margin: 10% 10% 0 10%;                  
                    }
                    .diastolic {
                        font-size: 2.5em;
                        color: white;                   
                    }
                    .label{
                        color: white;
                    }
                }
                


            }

            

        }
        
        .card2{
            background: slateblue;

            .card-content{
                round-progress{
                    display: block;
                    top: 10%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 25%;
                }

                .progress-text{
                    position: absolute;
                    top: 35%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    text-align: center;
                }

                .progress-text h2{
                    font-size: 30px;
                    font-weight: 300;
                    color:rgb(234, 234, 234);
                }

                .progress-text hr{
                    width: 15%;
                    max-width: 66px;
                    margin: 0 auto;
                    height: 3px;

                }

                .macro-container{
                    // display: block;
                    margin: 30px 20% ;

                    h3{
                        font-size: 18px;
                        font-weight: 400;
                        text-align: center;
                        color:rgb(234, 234, 234);
                    }
                }
            }

        }

        .card3{
            background: steelblue;
        }

        .card4{
            background-color: teal;
        }
    }
}
