page-settings {
  .background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

    ion-button {
      display: block;
    }
    ion-item,
    ion-item-divider {
      background-color: transparent;
      color: inherit;
    }
    .userEmail {
      color: #fff;
      padding: 2%;
      text-align: center;
    }

    button {
      padding: 25px 0 25px 0;
      border-radius: 4px;
    }
  }
}
