page-sleep {
  ion-content {
    background: linear-gradient(
      60deg,
      rgba(70, 130, 180, 1) 0%,
      rgb(128, 176, 215) 100%
    );
    .sleep-background {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 90vh;

      .sleepSummary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 35vh;
        width: 100%;

        .chart-container {
          display: flex;
          justify-content: center;
          width: 100%;
        }

        .chart-summary {
          color: #fff;
          font-size: 20px;
          text-align: center;
          position: relative;
          margin: 2vh 0;

          .emph {
            font-size: 1.4em;
            font-weight: 600;

            color: inherit;
          }
        }

        .chart-summary-top {
          animation: slideLeft 0.7s;
        }
        .chart-summary-bottom {
          animation: slideRight 0.7s;
        }
      }

      .sleepDetails {
        width: 100%;
        padding: 0 5%;

        color: white;
        ul {
          width: 100%;
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            margin: 5vh 0;
            border-bottom: 2px rgba($color: #fff, $alpha: 0.1) solid;

            h1 {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              font-size: 1.1em;
              .value {
                font-size: 1.3em;
              }
              .smaller {
                font-size: 1.1em;
              }
            }
          }
        }
        .item {
          width: 100% !important;
          background-color: transparent;
        }
      }
    }
  }
  @keyframes slideLeft {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }
  @keyframes slideRight {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
}
