page-sleep {
  ion-content {
    background: linear-gradient(
      60deg,
      rgba(70, 130, 180, 1) 0%,
      rgb(128, 176, 215) 100%
    );
    .chart-container {
      width: 100%;
      padding-right: 1vw;

      .chart {
        width: 100%;
      }
    }
    .chart-total {
      // text-align: center;
      color: #fff;
      font-size: 20px;
      margin: 4vh 2vw;
      text-align: center;
      animation: slideLeft 0.7s;
      position: relative;

      .emph {
        font-size: 30px;
        font-weight: 600;

        color: inherit;
      }
    }
    .sleepDetails {
      // margin-top: 40px;
      padding: 0 5%;

      color: white;
      ul {
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          margin: 5vh 0;
          border-bottom: 2px rgba($color: #fff, $alpha: 0.1) solid;

          h1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 16px;
            .value {
              font-size: 24px;
            }
          }
        }
      }
      .item {
        width: 100% !important;
        background-color: transparent;
      }
    }
  }
  @keyframes slideLeft {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }
}
