// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2ffcaa, 2ffcaa
  secondary:  #488aff,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  base:       #02d37f,
  darktext:   #444,
  bkGradienttop: #2ffcaa,
  bkGradientbottom: #13a369,
  bloodpressure: tomato,
  food: slateblue,
  sleep: steelblue,
  
);




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$text-input-placeholder-color: #777;
$text-input-md-show-focus-highlight: true;
$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: #eee;
$text-input-md-show-invalid-highlight: false;
$text-input-md-highlight-color: #333;
$text-input-md-show-valid-highlight: transparent;
// $toolbar-background: color($colors, bkGradienttop);
$toolbar-background: transparent;

// $tabs-background	:#333;
// $tabs-md-tab-icon-color: #333;

$grid-breakpoints: (
  // xs: 0px,
  sm: 400px,
  md: 768px,
  lg: 1024px
);



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
