// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* {
  font-weight: 400;
}
.no-padding {
  padding: 0px !important;
}

.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: -webkit-gradient(
    top,
    color($colors, bkGradienttop),
    color($colors, bkGradientbottom)
  );
  background: -o-linear-gradient(
    bottom,
    color($colors, bkGradienttop),
    color($colors, bkGradientbottom)
  );
  background: -moz-linear-gradient(
    bottom,
    color($colors, bkGradienttop),
    color($colors, bkGradientbottom)
  );
  background: linear-gradient(
    to bottom,
    color($colors, bkGradienttop),
    color($colors, bkGradientbottom)
  );

  .pulse {
    width: 30%;
    animation: pulse 2s infinite;
  }
}

.toolbar-title {
  text-align: center;
  display: inline-block;
  color: white !important;
}

.toolbar-content ion-title ion-icon {
  float: right;
  font-size: 25px;
}

ion-content {
  // background-color: rgba(2, 211, 127, 1) !important;
  // background-color: #445 !important;
  background: linear-gradient(45deg, rgb(60, 60, 97) 0%, rgb(44, 44, 58) 100%);
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

.col-50 {
  width: (width + 50%);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
