sync-error {
  position: fixed;
  left: 4vw;
  right: 4vw;
  top: 0vh;
  width: 92vw;
  background-color: #333;
  border-radius: 4px;
  padding-top: 1vh;
  animation: pop-down 6s linear;
  opacity: 0;
  z-index: 999;
  overflow: hidden;

  .syncErr {
    color: white;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-bottom: 1vh;
  }
}

@keyframes pop-down {
  0% {
    opacity: 0;
    top: -10vh;
  }
  10% {
    opacity: 1;
    top: 0;
  }
  90% {
    opacity: 1;
    top: 0;
  }

  100% {
    opacity: 0;
    top: -10vh;
  }
}
