<ion-content class="background" padding>
  <div class="logo-container">
    <img *ngIf="this.getStarted" class="logo" src="assets/imgs/AtriaLogo.png" />
  </div>
  <div *ngIf="this.getStarted">
    <ion-card class="card">
      <h1 class="title">Welcome</h1>
      <p>
        Let's get you setup and on your way to a healthier lifestyle.
      </p>
    </ion-card>
    <button
      ion-button
      block
      type="submit"
      color="light"
      class="confirmButton slideLeft"
      (click)="push('personalDetails')"
    >
      Start
    </button>
    <button
      *ngIf="completedWelcome"
      ion-button
      outline
      block
      type="submit"
      color="light"
      class="button slideRight whiteText"
      (click)="popPage()"
    >
      Back
    </button>
  </div>

  <div *ngIf="this.personalDetails">
    <h1 class="title">Personal Details</h1>
    <ion-card class="card no-padding">
      <form (ngSubmit)="savePersonalDetails()" [formGroup]="form">
        <ion-list inset>
          <ion-item class="input">
            <ion-label color="darktext" padding-left>First name</ion-label>

            <ion-input
              type="text"
              formControlName="fname"
              (keyup)="validate(form.value)"
            ></ion-input>
          </ion-item>
          <div class="input-err" ngxErrors="fname"></div>

          <ion-item class="input">
            <ion-label color="darktext" padding-left>Last name</ion-label>
            <ion-input
              type="text"
              formControlName="lname"
              (keyup)="validate(form.value)"
            ></ion-input>
          </ion-item>
          <div class="input-err" ngxErrors="lname"></div>

          <ion-item class="input">
            <ion-label class="label">Gender</ion-label>
            <ion-select
              multiple="false"
              name="userGender"
              formControlName="gender"
              (ionChange)="validate(form.value)"
            >
              <ion-option>Male</ion-option>
              <ion-option>Female</ion-option>
            </ion-select>
          </ion-item>
          <div class="input-err" ngxErrors="gender"></div>

          <!-- <ion-item class="input">
            <ion-input
              type="number"
              max="120"
              placeholder="Age"
              formControlName="age"
              (keyup)="validate(form.value)"
            ></ion-input>
          </ion-item>
          <div class="input-err"></div> -->
          <ion-item class="input">
            <ion-label color="darktext">Date of Birth</ion-label>
            <ion-datetime
              formControlName="dob"
              displayFormat="YYYY/MM/DD"
              min="1901-01-01"
              max="2010-01-01"
              value="1901-01-01"
              (ionChange)="validate(form.value)"
            ></ion-datetime>
          </ion-item>
          <div class="input-err"></div>

          <ion-item class="input">
            <ion-label color="darktext" padding-left>Body weight</ion-label>
            <ion-input
              type="number"
              max="800"
              formControlName="weight"
              (keyup)="validate(form.value)"
            ></ion-input>
          </ion-item>
          <div class="input-err"></div>

          <ion-item class="input">
            <ion-label color="darktext">Height</ion-label>
            <ion-select
              formControlName="heightFeet"
              multiple="false"
              name="height"
              (ionChange)="validate(form.value)"
            >
              <ion-option *ngFor="let i of [3,4,5,6,7,8]"
                >{{i}}<span>&nbsp;ft</span></ion-option
              >
            </ion-select>
            <ion-select
              formControlName="heightInches"
              multiple="false"
              name="height"
              (ionChange)="validate(form.value)"
            >
              <ion-option *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11]"
                >{{i}}<span>&nbsp;inches</span></ion-option
              >
            </ion-select>
          </ion-item>
          <div class="input-err"></div>

          <ion-item class="input">
            <ion-label class="label">I excerise</ion-label>
            <ion-select
              multiple="false"
              name="activity"
              formControlName="activityLevel"
              (ionChange)="validate(form.value)"
            >
              <ion-option>5 - 7 days per week</ion-option>
              <ion-option>3 - 4 days per week</ion-option>
              <ion-option>1 - 2 days per week</ion-option>
              <ion-option>0 days per week</ion-option>
            </ion-select>
          </ion-item>
          <div class="input-err"></div>
        </ion-list>
      </form>
    </ion-card>
    <button
      ion-button
      outline
      color="light"
      class="button slideRight smallButton whiteText"
      (click)="push('getStarted')"
    >
      Back
    </button>
    <button
      ion-button
      type="submit"
      color="dark"
      class="button slideLeft smallButton"
      (click)="push('healthGoal')"
      [disabled]="isValidateErr"
    >
      Next
    </button>
  </div>

  <div *ngIf="this.healthGoal">
    <ion-card class="card">
      <h1 class="title">General Health Goals</h1>
      <p>
        Alongside with managing your Blood Pressure level, What is your health
        goal?<br /><br />
      </p>
      <ion-list
        radio-group
        (ionChange)="healthGoalChange($event)"
        class="healthGoalSelect"
      >
        <ion-item>
          <ion-label>Lose weight</ion-label>
          <ion-radio slot="start" value="weightLoss" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Maintain my weight</ion-label>
          <ion-radio slot="start" value="maintainWeight"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Gain weight</ion-label>
          <ion-radio slot="start" value="weightGain"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card>

    <button
      ion-button
      outline
      type="submit"
      color="light"
      class="button slideRight smallButton whiteText"
      (click)="push('personalDetails')"
    >
      Back
    </button>
    <button
      ion-button
      type="submit"
      color="dark"
      class="button slideLeft smallButton"
      (click)="savePersonalDetails('withings')"
    >
      Next
    </button>
  </div>

  <div *ngIf="this.withings">
    <ion-card class="card">
      <h1 class="title">Withings</h1>
      <p>
        - Download Health Mate by Withings from the Google PlayStore.<br /><br />
        - Sign-up for a Withings account and follow the instructions for
        connecting your Blood Pressure monitor.<br /><br />
      </p>
    </ion-card>
    <button
      ion-button
      block
      type="submit"
      color="light"
      class="button slideLeft"
      (click)="goToPlayStore('withings')"
    >
      Go to PlayStore
    </button>
    <button
      ion-button
      outline
      type="submit"
      color="light"
      class="button slideRight smallButton whiteText"
      (click)="push('healthGoal')"
    >
      Back
    </button>
    <button
      ion-button
      type="submit"
      color="dark"
      class="button slideLeft smallButton"
      (click)="push('withingsAuth')"
    >
      Next
    </button>
  </div>

  <div *ngIf="this.withingsAuth">
    <ion-card class="card">
      <h1 class="title">Withings</h1>
      <p>
        Authenticate Atria with Withings.
      </p>
    </ion-card>
    <button
      ion-button
      block
      type="submit"
      color="light"
      class="button slideLeft"
      (click)="getWithingsAuth()"
    >
      Authenticate
    </button>
    <button
      ion-button
      outline
      type="submit"
      color="light"
      class="button slideRight smallButton whiteText"
      (click)="push('withings')"
    >
      Back
    </button>

    <button
      ion-button
      type="submit"
      color="dark"
      class="button slideLeft smallButton"
      (click)="push('fitbit')"
    >
      Next
    </button>
  </div>

  <div *ngIf="this.fitbit">
    <ion-card class="card">
      <h1 class="title">Fitbit</h1>
      <p>
        - Download Fitbit from the Google PlayStore.<br /><br />
        - Sign-up for a Fitbit account and connect you fitbit watch.<br /><br />
      </p>
    </ion-card>
    <button
      ion-button
      block
      type="submit"
      color="light"
      class="button slideLeft"
      (click)="goToPlayStore('fitbit')"
    >
      Go to PlayStore
    </button>
    <button
      ion-button
      outline
      type="submit"
      color="light"
      class="button slideRight smallButton whiteText"
      (click)="push('withingsAuth')"
    >
      Back
    </button>
    <button
      ion-button
      type="submit"
      color="dark"
      class="button slideLeft smallButton"
      (click)="push('fitbitAuth')"
    >
      Next
    </button>
  </div>

  <div *ngIf="this.fitbitAuth">
    <ion-card class="card">
      <h1 class="title">Fitbit</h1>
      <p>
        Authenticate Atria with Fitbit.
      </p>
    </ion-card>
    <button
      ion-button
      block
      type="submit"
      color="light"
      class="button slideLeft"
      (click)="getfitbitAuth()"
    >
      Authenticate
    </button>
    <button
      ion-button
      outline
      type="submit"
      color="light"
      class="button slideRight smallButton whiteText"
      (click)="push('fitbit')"
    >
      Back
    </button>
    <button
      ion-button
      type="submit"
      color="dark"
      class="button slideLeft smallButton"
      (click)="done()"
    >
      Done
    </button>
  </div>
</ion-content>
