<ion-item-sliding
  *ngIf="recommendation.show"
  class="recommendation"
  (ionDrag)="this.logDrag($event)"
  #item
>
  <ion-item class="item-content">
    <p>{{recommendation.text}}</p>
  </ion-item>
  <ion-item-options side="left">
    <button ion-button color="secondary" (click)="this.skip()">
      <ion-icon name="archive"></ion-icon>
      Skip
    </button>
  </ion-item-options>
  <ion-item-options side="right">
    <button ion-button (click)="this.done(item)">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      Done
    </button>
  </ion-item-options>
</ion-item-sliding>

<div
  *ngIf="showConfirmation"
  (click)="cancelConfirmation()"
  class="recommendation-cancel"
>
  <h2>{{userAction}}...</h2>
  <h3>Tap to cancel</h3>
  <timer-bar
    [outerColor]="'#13a369'"
    [innerColor]="'#fff'"
    [duration]="'2.5s'"
  ></timer-bar>
</div>

<div *ngIf="showCongratsToast" class="recommendation-congrats">
  <h3>Well done!</h3>
</div>

<div *ngIf="showSkippedToast" class="recommendation-skippedToast">
  <h3>Skipped</h3>
</div>
