<!--
  Generated template for the MystatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-title>
      Me
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveData()" class="userStatsForm">
    <!-- ================= fName ================== -->
    <ion-item class="Input">
      <ion-label color="bkGradientbottom">First Name</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="mystats.fname"
        (ngModelChange)="validate()"
        name="fname"
      ></ion-input>
    </ion-item>
    <!-- ================= lName ================== -->
    <ion-item class="Input">
      <ion-label color="bkGradientbottom">Last Name</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="mystats.lname"
        (ngModelChange)="validate()"
        name="lname"
      ></ion-input>
    </ion-item>
    <!-- ================= Gender ================== -->
    <ion-item class="Input">
      <ion-label color="bkGradientbottom">Gender</ion-label>
      <ion-select [(ngModel)]="mystats.gender" multiple="false" name="gender">
        <ion-option>Male</ion-option>
        <ion-option>Female</ion-option>
      </ion-select>
    </ion-item>
    <!-- ================= Age ================== -->
    <!-- <ion-item class="Input">
      <ion-label color="bkGradientbottom">Age</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="mystats.age"
        (ngModelChange)="validate()"
        name="age"
      ></ion-input>
    </ion-item> -->
    <!-- ================= DOB ================== -->

    <ion-item class="Input">
      <ion-label color="bkGradientbottom">Date of Birth</ion-label>

      <ion-datetime
        [(ngModel)]="mystats.dob"
        name="dob"
        displayFormat="YYYY/MM/DD"
        min="1901-01-01"
        max="2010-01-01"
        value="1901-01-01"
        (ngModelChange)="validate()"
      ></ion-datetime>
    </ion-item>
    <!-- ================= Weight ================== -->
    <ion-item class="Input">
      <ion-label color="bkGradientbottom">Weight</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="mystats.weight"
        (ngModelChange)="validate()"
        name="weight"
      ></ion-input>
    </ion-item>
    <!-- ================= Height ================== -->
    <ion-item class="Input">
      <ion-label color="bkGradientbottom">Height</ion-label>
      <ion-select
        [(ngModel)]="mystats.heightFeet"
        (ngModelChange)="validate()"
        multiple="false"
        name="height"
      >
        <ion-option *ngFor="let i of [1,2,3,4,5,6,7]"
          >{{i}}<span>&nbsp;ft</span></ion-option
        >
      </ion-select>
      <ion-select
        [(ngModel)]="mystats.heightInches"
        (ngModelChange)="validate()"
        multiple="false"
        name="height2"
      >
        <ion-option *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11]"
          >{{i}}<span>&nbsp;in</span></ion-option
        >
      </ion-select>
    </ion-item>
    <!-- ================= Activity lvl ================== -->
    <ion-item class="Input">
      <ion-label color="bkGradientbottom">I excerise</ion-label>
      <ion-select
        multiple="false"
        name="activity"
        [(ngModel)]="mystats.activityLevel"
        (ngModelChange)="validate()"
      >
        <ion-option>5 - 7 days per week</ion-option>
        <ion-option>3 - 4 days per week</ion-option>
        <ion-option>1 - 2 days per week</ion-option>
        <ion-option>0 days per week</ion-option>
      </ion-select>
    </ion-item>

    <!-- ================= Max/Goal Calories ================== -->
    <ion-item class="Input">
      <ion-label color="bkGradientbottom">Goal Calories</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="mystats.goalCaloriesIn"
        (ngModelChange)="validate()"
        name="goalCaloriesIn"
      ></ion-input>
    </ion-item>

    <button
      ion-button
      type="submit"
      block
      color="base"
      [disabled]="isValidateErr"
    >
      Save
    </button>
  </form>
</ion-content>
